[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-allauth = "*"
django-crispy-forms = "*"
pylint = "*"
sequential = "*"
django-admin = "*"
django-organizations = "*"
django-extensions = "*"
ipython = "*"
werkzeug = "*"

[dev-packages]
